<ng-container *ngIf="user$ | async as user">
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light py-3">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">&#9776;</button>
      <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item me-3">
              <a class="nav-link fw-semibold mb-0" role="button" (click)="openTop(content)"><fa-icon [icon]="'search'" size="xl"></fa-icon></a>
          </li>
          <li class="nav-item me-3" ngbDropdown placement="bottom-end">
            <a class="nav-link fw-semibold mb-0" id="notificationDropdown" ngbDropdownToggle role="button"><fa-icon [icon]="'bell'" size="xl"></fa-icon></a>
              <div ngbDropdownMenu aria-labelledby="notificationDropdown" class="dropdown-menu-end">
                <button ngbDropdownItem>Logout</button>
              </div>
          </li>
          <li class="nav-item" ngbDropdown placement="bottom-end">
            <a class="nav-link fw-semibold mb-0" id="dropdownBasic" ngbDropdownToggle role="button"><fa-icon [icon]="'user-circle'" size="xl"></fa-icon> {{user.firstName+" "+user.lastName |titlecase  }}</a>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic" class="dropdown-menu-end">
                <button ngbDropdownItem>Logout</button>
              </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
</ng-container>

<ng-template #content let-offcanvas>
	<div class="offcanvas-header p-4">
    <form class="d-flex flex-grow-1" role="search">
      <input class="form-control me-2 border-0" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-primary" type="submit">Search</button>
    </form>
	</div>
</ng-template>