.upload-area {
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
    height: 100%;
    width: 100%;
    left: 0;
    transition: all 0.5s;
z-index: 0;
    h3 {
        border: 1px dashed;
    }
}

.zone {

    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    &.enter{
        z-index: 55;

        .upload-area{
            background: rgba(0, 0, 0, 0.8);
            opacity: 1;
            visibility: visible;
        }
    }
}